@import "./style.scss";
@import "./common.scss";
@import "./mixin.scss";

body {
  background: url(../images/background/main_page_background.png) repeat;
  background-size: cover;
}
header {
  position: relative;
  z-index: 100;
  width: 100%;
  // background-color: transparent;

  .pc {
    display: none;

    @include responsive(pc-screens) {
      display: block;
    }

    .logo {
      position: fixed;
      top: 70px;
      left: 100px;
    }
  }

  .mobile {
    height: 80px;
    // background-color: aqua;

    @include responsive(pc-screens) {
      height: 0;
    }
    .mobileLogoMenu {
      display: flex;

      .mobileLogo {
        position: fixed;
        top: 22px;
        left: 20px;

        @include responsive(pc-screens) {
          display: none;
        }
        a {
          width: 32px;
          img {
            width: 100%;
          }
        }
      }

      .mobileMenu {
        position: fixed;
        top: 38px;
        right: 20px;
        cursor: pointer;

        @include responsive(pc-screens) {
          top: 95px;
          right: 100px;
        }

        span {
          display: block;
          width: 30px;
          height: 4px;
          background-color: white;

          @include responsive(pc-screens) {
            width: 40px;
            height: 6px;

            &:nth-child(2) {
              margin: 0;
            }
          }
          &:nth-child(2) {
            margin: 5px 0;
          }
        }
      }
    }
  }
}

main {
  width: 100%;
  height: 100%;

  section {
    width: 100%;
    height: auto;

    @include responsive(pc-screens) {
      height: 100vh;
      // border: 1px solid white;
    }
  }

  .pcSec1 {
    position: relative;
    width: 100%;
    // height: 100vh;
    text-align: center;

    .video {
      width: auto;
      // height: 100%;

      video {
        width: 100%;
        @include responsive(pc-screens) {
          height: 100vh;
          object-fit: cover;
        }
      }
    }

    .para {
      display: none;

      @include responsive(pc-screens) {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // mix-blend-mode: multiply;
      }

      h3,
      h4 {
        color: white;
        line-height: 150%;
      }

      h3 {
        font-size: 100px;
      }

      h4 {
        font-size: 40px;
      }
    }
  }
  // pcSec1

  .mobileSec {
    text-align: center;

    @include responsive(pc-screens) {
      display: none;
    }

    .mobilePara {
      padding: 100px 0;
      h3,
      h4 {
        line-height: 150%;
        color: white;
      }

      h4 {
        font-size: 16px;
      }
    }
  }
  .pcSec2 {
    display: none;
    position: relative;

    // background-image: url(../images/main_section_2/jeju.png);
    background-size: cover;

    @include responsive(pc-screens) {
      display: block;
    }
    .h3ImgP {
      // width: 100%;

      ul {
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        justify-content: space-around;
        align-items: center;
        transform: translate(-50%, -50%);

        li {
          width: 15%;
          a {
            width: 100%;
            color: white;
            font-size: 100px;
          }
        }
      }
    }
  }
  // pcSec2

  .pcSec3 {
    display: flex;
    position: relative;
    margin-bottom: 100px;

    .category {
      width: 100%;
      ul {
        display: flex;
        text-align: center;
        flex-direction: column;
        gap: 30px;

        @include responsive(pc-screens) {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          gap: 60px;
        }

        li {
          position: relative;

          #second {
            &:hover {
              background-image: url(https://media1.giphy.com/media/xT5LMyaDUZlsLVVxNS/giphy.gif?cid=ecf05e47mry7qvnp5415uo99tw4kpy7z36tpgp6muvgt1hru&rid=giphy.gif&ct=g);
              background-size: cover;
            }
          }

          #third {
            &:hover {
              background-image: url(https://media1.giphy.com/media/KKBPAzaiAzh7y/giphy.gif?cid=ecf05e47iondb2sbqnscph4fy3ra8kvyw87dkiws2wh7tjhl&rid=giphy.gif&ct=g);
              background-size: cover;
            }
          }

          #fourth {
            &:hover {
              background-image: url(https://media4.giphy.com/media/l4FB53kezY6TlL1PG/giphy.gif?cid=ecf05e476m4bc2h5dw24vss7gz8929vt9g2n55yhwde34pa0&rid=giphy.gif&ct=g);
              background-size: cover;
            }
          }

          #fifth {
            &:hover {
              background-image: url(https://media1.giphy.com/media/lr1PGJlmI7YMbG7Iwq/giphy.gif?cid=ecf05e47057afaa947mgpln17jk76wex5ghui9lyuww7vd1u&rid=giphy.gif&ct=g);
              background-size: cover;
            }
          }

          a {
            width: 100%;
            font-size: 30px;
            color: white;

            @include responsive(pc-screens) {
              position: relative;
              font-size: 100px;
              color: transparent;
              -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
              -moz-background-clip: text;
              -webkit-background-clip: text;

              &:hover {
                -webkit-text-stroke: 0px;
                background-image: url(https://media0.giphy.com/media/xT3i138nBvO5kZ0YiA/giphy.gif?cid=ecf05e47unaip28r6q2acg2tn4qxh36uxa910r13dbcaothf&rid=giphy.gif&ct=g);
                background-size: cover;
              }
            }
          }
        }
      }
    }
  }
  // pcSec3

  .pcSec4 {
    display: none;
    position: relative;

    @include responsive(pc-screens) {
      display: block;
    }

    .fallingConts {
      color: white;

      div {
        position: absolute;
        p {
          font-family: $font-main;
        }
      }

      .cont1 {
        display: none;
        top: 50%;
        right: 30%;
        transform: rotate(-20deg);
        p {
          font-size: 26px;
          color: #ccc;
          text-align: right;
        }
      }

      .cont2 {
        display: none;
        top: 55%;
        left: 30%;
        transform: rotate(20deg);

        p {
          color: #ccc;
          font-size: 80px;
        }
      }

      .cont3 {
        display: none;
        bottom: 70%;
        left: 60%;
        transform: rotate(20deg);

        p {
          font-size: 40px;
          color: #ccc;
        }
      }

      .cont4 {
        display: none;
        right: 60%;
        bottom: 50%;
        transform: rotate(-20deg);

        opacity: 0.4;
      }

      .cont5 {
        display: none;
        bottom: 45%;
        left: 45%;
        transform: rotate(20deg);
        opacity: 0.4;

        img {
          width: 50%;
        }
      }

      .cont6 {
        display: none;
        right: 50%;
        bottom: 70%;
        font-size: 180px;
        transform: rotate(-20deg);

        color: #ccc;
      }

      .cont7 {
        display: none;
        right: 40%;
        bottom: 50%;

        font-size: 150px;
      }
    }
  }
}

footer {
  .container {
    padding: 0 20px;
    @include responsive(pc-screens) {
      width: 1200px;
      margin: 0 auto;
      padding: 0;
    }
  }
  .footer {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;

    @include responsive(pc-screens) {
      width: 100%;
      padding: 120px 0 80px;
    }

    .footInfo {
      padding-top: 60px;
      padding-bottom: 30px;

      @include responsive(pc-screens) {
        // padding: 0;
        display: flex;
        width: 100%;
        justify-content: space-between;

        font-size: 20px;
        margin-bottom: 30px;
      }

      address {
        font-style: normal;
      }

      p {
        margin: 20px 0;

        @include responsive(pc-screens) {
          margin: 0;
        }
      }
    }

    .footBox {
      width: 100%;
      @include responsive(pc-screens) {
        display: flex;
        height: 250px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        text-align: center;

        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
      }

      .footLogoCopy {
        padding: 30px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        text-align: center;

        @include responsive(pc-screens) {
          width: 30%;
          padding: 0;
          border: 0;
        }

        a {
          color: white;
          font-size: 60px;
        }

        p {
          font-size: 10px;
        }

        .copyright {
          @include responsive(pc-screens) {
            font-size: 12px;
            font-family: $font-sub;
          }
        }
      }

      .footSns {
        padding: 30px;
        border-bottom: 1px solid #ccc;

        @include responsive(pc-screens) {
          position: relative;
          width: 40%;
          height: 250px;
          border-bottom: 0;
          border-right: 1px solid #ccc;
          border-left: 1px solid #ccc;
        }
        .footSnsCont {
          display: flex;
          justify-content: center;

          @include responsive(pc-screens) {
            padding: 60px 80px;
          }

          li {
            padding: 10px;

            @include responsive(pc-screens) {
              padding-right: 15px;

              &:last-child {
                padding-right: 0;
              }
            }
            img {
              width: 50px;

              @include responsive(pc-screens) {
                width: 60px;
                opacity: 0.5;

                transition: all 0.5s;

                &:hover {
                  opacity: 1;
                }
              }
            }
          }
        }
      }

      .footMenu {
        width: 100%;
        padding: 40px 0;
        font-size: 14px;

        @include responsive(pc-screens) {
          width: 30%;
          padding: 0;
          font-size: 14px;
        }
        ul {
          display: flex;
          width: 100%;
          padding: 10px;
          // margin-left: 5px;

          &:last-child {
            text-align: left;
          }

          li {
            width: 33%;
            padding: 0 5px;
            text-align: center;

            a {
              width: 100%;
              color: white;
            }
          }
        }
      }
    }
  }
}
