@font-face {
  font-family: "SANGJU Gyeongcheon Island";
  src: url(../../../../font/SANGJU\ Gyeongcheon\ Island.woff);
}
@font-face {
  font-family: "NotoSerifKR-Regular";
  src: url(../../../../font/NotoSerifKR-Regular.woff);
}
@font-face {
  font-family: "SANGJU Gyeongcheon Island";
  src: url(../../../../font/SANGJU\ Gyeongcheon\ Island.woff);
}
@font-face {
  font-family: "NotoSerifKR-Regular";
  src: url(../../../../font/NotoSerifKR-Regular.woff);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "SANGJU Gyeongcheon Island";
}

ul,
ol {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: black;
}
a:hover {
  font-weight: 600;
}

h1 {
  font-size: 3.125em;
}

h2 {
  font-size: 0;
}

h3 {
  color: black;
  font-size: 3.125em;
}

h4 {
  color: black;
  font-size: 1.5em;
  font-weight: 600;
}

p {
  font-size: 1em;
  font-family: "NotoSerifKR-Regular";
}

@media screen and (min-width: 1024px) {
  body {
    width: 100%;
    height: 100%;
    max-width: 2560px;
  }
}
.container {
  padding: 0 20px;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .container {
    padding: 0;
    margin: 0 auto;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(../../../../images/background/detail_page_main_background.png);
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
  }
}
.wrapper .flexWrapper header {
  height: 80px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header {
    height: auto;
    width: 370px;
    background-image: url(../../../../images/background/detail_page_header_background.png);
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header {
    position: fixed;
  }
}
.wrapper .flexWrapper header .header .logoMenu {
  display: none;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu {
    display: block;
    padding-top: 70px;
    padding-left: 100px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu .logo a {
    width: 190px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu .menu {
    margin-top: 130px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu .menu .gnb {
    font-size: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu .menu .gnb li {
    padding-bottom: 60px;
  }
  .wrapper .flexWrapper header .header .logoMenu .menu .gnb li:hover ul {
    height: 100px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu .menu .gnb li:first-child {
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu .menu .gnb li .subMenu {
    height: 0px;
    overflow: hidden;
    padding-top: 40px;
    transition: all 0.5s;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu .menu .gnb li .subMenu li {
    display: flex;
    padding-bottom: 0px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu .menu .gnb li .subMenu li a {
    padding-left: 5px;
    padding-bottom: 10px;
    font-size: 18px;
    font-family: "NotoSerifKR-Regular";
  }
}
.wrapper .flexWrapper header .header .mobileLogoMenu {
  display: flex;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .mobileLogoMenu {
    display: none;
  }
}
.wrapper .flexWrapper header .header .mobileLogoMenu .mobileLogo {
  position: fixed;
  top: 22px;
  left: 20px;
}
.wrapper .flexWrapper header .header .mobileLogoMenu .mobileMenu {
  position: fixed;
  top: 38px;
  right: 20px;
  cursor: pointer;
}
.wrapper .flexWrapper header .header .mobileLogoMenu .mobileMenu span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #000;
}
.wrapper .flexWrapper header .header .mobileLogoMenu .mobileMenu span:nth-child(2) {
  margin: 5px 0;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main {
    width: 80%;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main {
    width: 1180px;
    margin: 0 auto;
  }
}
.wrapper .flexWrapper main .main .mainSubMenu {
  display: none;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .mainSubMenu {
    display: block;
    width: 100%;
    height: 70px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .mainSubMenu ul {
    display: flex;
    position: absolute;
    right: 100px;
    top: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .mainSubMenu ul li {
    padding-left: 25px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .mainSubMenu ul li a {
    font-family: "NotoSerifKR-Regular";
    font-size: 14px;
  }
}
.wrapper .flexWrapper main .main aside.slide {
  width: 100%;
  overflow: hidden;
  margin-top: 30px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main aside.slide {
    margin-top: 130px;
  }
}
.wrapper .flexWrapper main .main aside.slide ul {
  position: relative;
  width: 300%;
  display: flex;
}
.wrapper .flexWrapper main .main aside.slide ul li {
  width: 100%;
  position: relative;
}
.wrapper .flexWrapper main .main aside.slide ul li:last-child a button {
  position: absolute;
  top: 58%;
  left: 26%;
  width: 100px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main aside.slide ul li:last-child a button {
    top: 58.7%;
    left: 26%;
    width: 150px;
    height: 50px;
  }
}
.wrapper .flexWrapper main .main aside.slide ul li a {
  width: 100%;
}
.wrapper .flexWrapper main .main aside.slide ul li a img {
  width: 100%;
  height: 400px;
  vertical-align: top;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main aside.slide ul li a img {
    height: 680px;
    margin-bottom: 0;
  }
}
.wrapper .flexWrapper main .main nav {
  margin-bottom: 100px;
  width: 100%;
}
.wrapper .flexWrapper main .main nav .gnb {
  display: flex;
  justify-content: space-around;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main nav .gnb {
    border: 1px solid #000;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main nav .gnb li {
    border-right: 1px solid #000;
  }
  .wrapper .flexWrapper main .main nav .gnb li:last-child {
    border-right: 0;
  }
}
.wrapper .flexWrapper main .main nav .gnb li a {
  font-family: "NotoSerifKR-Regular";
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main nav .gnb li a {
    padding: 20px 95px;
  }
  .wrapper .flexWrapper main .main nav .gnb li a:hover {
    background-color: #000;
    color: #fff;
  }
}
.wrapper .flexWrapper main .main nav .gnb li a:hover {
  text-decoration: underline;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main nav .gnb li a:hover {
    text-decoration: none;
  }
}
.wrapper .flexWrapper main .main section.rec-box {
  width: 100%;
  margin-bottom: 100px;
}
.wrapper .flexWrapper main .main section.rec-box h3 {
  text-align: center;
  font-size: 1.875em;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main section.rec-box h3 {
    font-size: 2.5em;
  }
}
.wrapper .flexWrapper main .main section.rec-box .recommend {
  width: 150%;
  display: flex;
  margin-top: 40px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main section.rec-box .recommend {
    width: 150%;
  }
}
.wrapper .flexWrapper main .main section.rec-box .recommend .rec-des {
  position: relative;
  width: 70%;
  margin-right: 5%;
}
.wrapper .flexWrapper main .main section.rec-box .recommend .rec-des:last-child {
  margin-right: 0;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main section.rec-box .recommend .rec-des {
    width: 30%;
  }
}
.wrapper .flexWrapper main .main section.rec-box .recommend .rec-des .rec-item {
  width: 450px;
}
.wrapper .flexWrapper main .main section.rec-box .recommend .rec-des .rec-item p {
  line-height: 30px;
}
.wrapper .flexWrapper main .main section.rec-box .recommend .rec-des .rec-item button {
  position: absolute;
  top: 72px;
  left: 12px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #000;
}
.wrapper .flexWrapper main .main section.rec-box .recommend .rec-des .rec-item .heart,
.wrapper .flexWrapper main .main section.rec-box .recommend .rec-des .rec-item .heart_full {
  position: absolute;
  top: 7px;
  left: 400px;
  width: 35px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main section.rec-box .recommend .rec-des .rec-item .heart,
.wrapper .flexWrapper main .main section.rec-box .recommend .rec-des .rec-item .heart_full {
    left: 400px;
  }
}
.wrapper .flexWrapper main .main section.rec-box .recommend .rec-des .rec-item .heart_full {
  display: none;
}
.wrapper .flexWrapper main .main section.rec-box .recommend .rec-des .rec-item .rec_drink1 {
  width: 100%;
  height: 600px;
}
.wrapper .flexWrapper main .main section.rec-box .recommend .rec-des .rec-item .rec_drink2 {
  width: 100%;
  height: 450px;
}
.wrapper .flexWrapper main .main section.rec-box .recommend .rec-des .flip-info {
  display: none;
  background-color: #fff;
  padding-left: 30px;
  padding-top: 130px;
  position: absolute;
  top: 0;
  transform: translateY(60px);
}
.wrapper .flexWrapper main .main section.rec-box .recommend .rec-des .flip-info p {
  line-height: 40px;
}
.wrapper .flexWrapper main .main section.rec-box .recommend .rec-des .flip-info button {
  position: absolute;
  top: 72px;
  left: 12px;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #000;
  color: white;
}
.wrapper .flexWrapper main .main section.rec-box .recommend .rec-des .flip-info.f1 {
  width: 100%;
  height: 600px;
}
.wrapper .flexWrapper main .main section.rec-box .recommend .rec-des .flip-info.f2 {
  width: 100%;
  height: 450px;
}
.wrapper .flexWrapper main .main .swiper_scrollbar {
  margin-top: 65px;
  display: block;
  width: 100%;
  height: 10px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #dbdbdb;
  background-image: linear-gradient(to right, black, black);
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: background-size 0.4s ease-in-out;
}
.wrapper .flexWrapper main section.brewery h3 {
  text-align: center;
  font-size: 1.875em;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery h3 {
    font-size: 2.5em;
  }
}
.wrapper .flexWrapper main section.brewery .category_wrap {
  width: 100%;
  position: relative;
  margin-top: 40px;
  overflow: hidden;
}
.wrapper .flexWrapper main section.brewery .category_wrap a .slider {
  display: none;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .category_wrap a .slider {
    display: block;
    width: 2%;
  }
}
.wrapper .flexWrapper main section.brewery .category_wrap .brewery_item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .category_wrap .brewery_item {
    margin-bottom: 0;
    width: 120%;
    overflow: hidden;
  }
}
.wrapper .flexWrapper main section.brewery .category_wrap .brewery_item li {
  width: 50%;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .category_wrap .brewery_item li {
    justify-content: space-between;
    width: 180px;
  }
}
.wrapper .flexWrapper main section.brewery .category_wrap .brewery_item li a img {
  width: 100%;
  border-radius: 50%;
  background-color: #fff;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .category_wrap .brewery_item li a img:hover {
    transform: scale(1.5);
  }
}
.wrapper .flexWrapper main section.brewery .brewery_content {
  width: 100%;
  margin-bottom: 100px;
}
.wrapper .flexWrapper main section.brewery .brewery_content .brewery {
  width: 100%;
}
.wrapper .flexWrapper main section.brewery .brewery_content .brewery .location {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .brewery_content .brewery .location {
    height: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
  }
}
.wrapper .flexWrapper main section.brewery .brewery_content .brewery .location .location_box {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  margin-bottom: 100px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .brewery_content .brewery .location .location_box {
    align-items: center;
    margin-right: 20px;
    margin-bottom: 0;
  }
}
.wrapper .flexWrapper main section.brewery .brewery_content .brewery .location .location_box img {
  width: 35px;
}
.wrapper .flexWrapper main section.brewery .brewery_content .brewery .location .qr_box {
  display: none;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .brewery_content .brewery .location .qr_box {
    width: 50%;
    align-items: center;
    display: block;
    display: flex;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .brewery_content .brewery .location .qr_box img {
    width: 53px;
  }
}
.wrapper .flexWrapper main section.brewery .brewery_content .b1 .brewery_box {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .brewery_content .b1 .brewery_box {
    height: 500px;
    display: flex;
    flex-direction: row;
  }
}
.wrapper .flexWrapper main section.brewery .brewery_content .b1 .brewery_box .alcohol {
  margin-bottom: 50px;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .brewery_content .b1 .brewery_box .alcohol {
    width: 30%;
    margin-right: 5%;
  }
}
.wrapper .flexWrapper main section.brewery .brewery_content .b1 .brewery_box .alcohol strong {
  display: block;
  font-weight: normal;
  font-size: 1.5em;
}
.wrapper .flexWrapper main section.brewery .brewery_content .b1 .brewery_box .alcohol img {
  display: block;
  margin-top: 20px;
  margin: 0 auto;
  width: 200px;
}
.wrapper .flexWrapper main section.brewery .brewery_content .b1 .brewery_box .alcohol p {
  text-align: center;
}
.wrapper .flexWrapper main section.brewery .brewery_content .b1 .brewery_box .brewery_pic {
  display: flex;
  overflow: hidden;
  width: 200%;
  margin-bottom: 50px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .brewery_content .b1 .brewery_box .brewery_pic {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: 100%;
    margin-right: 5%;
  }
}
.wrapper .flexWrapper main section.brewery .brewery_content .b1 .brewery_box .brewery_pic .img_box {
  width: 100%;
  position: relative;
  display: flex;
  height: 300px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .brewery_content .b1 .brewery_box .brewery_pic .img_box {
    height: 48%;
  }
}
.wrapper .flexWrapper main section.brewery .brewery_content .b1 .brewery_box .brewery_pic .img_box img {
  width: 100%;
}
.wrapper .flexWrapper main section.brewery .brewery_content .b1 .brewery_box .text {
  margin-bottom: 100px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main section.brewery .brewery_content .b1 .brewery_box .text {
    width: 30%;
  }
}
.wrapper .flexWrapper main section.brewery .brewery_content .b1 .brewery_box .text p {
  line-height: 30px;
}

@media screen and (min-width: 1024px) {
  footer .container {
    margin: 0;
  }
}
footer .footer {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
}
@media screen and (min-width: 1024px) {
  footer .footer {
    width: 100%;
    padding: 120px 185px 80px 545px;
  }
}
footer .footer .footInfo {
  padding-top: 60px;
  padding-bottom: 30px;
}
@media screen and (min-width: 1024px) {
  footer .footer .footInfo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 30px;
  }
}
footer .footer .footInfo address {
  font-style: normal;
  font-family: "NotoSerifKR-Regular";
}
footer .footer .footInfo p {
  margin: 20px 0;
}
@media screen and (min-width: 1024px) {
  footer .footer .footInfo p {
    margin: 0;
  }
}
footer .footer .footBox {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  footer .footer .footBox {
    display: flex;
    height: 250px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
}
footer .footer .footBox .footLogoCopy {
  padding: 30px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  footer .footer .footBox .footLogoCopy {
    width: 30%;
    padding: 0;
    border: 0;
  }
}
footer .footer .footBox .footLogoCopy a {
  color: white;
  font-size: 60px;
}
footer .footer .footBox .footLogoCopy p {
  font-size: 10px;
}
@media screen and (min-width: 1024px) {
  footer .footer .footBox .footLogoCopy .copyright {
    font-size: 12px;
    font-family: "NotoSerifKR-Regular";
  }
}
footer .footer .footBox .footSns {
  padding: 30px;
  border-bottom: 1px solid #ccc;
}
@media screen and (min-width: 1024px) {
  footer .footer .footBox .footSns {
    position: relative;
    width: 40%;
    height: 250px;
    border-bottom: 0;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
  }
}
footer .footer .footBox .footSns .footSnsCont {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  footer .footer .footBox .footSns .footSnsCont {
    padding: 60px 80px;
  }
}
footer .footer .footBox .footSns .footSnsCont li {
  padding: 10px;
}
@media screen and (min-width: 1024px) {
  footer .footer .footBox .footSns .footSnsCont li {
    padding-right: 15px;
  }
  footer .footer .footBox .footSns .footSnsCont li:last-child {
    padding-right: 0;
  }
}
footer .footer .footBox .footSns .footSnsCont li img {
  width: 50px;
}
@media screen and (min-width: 1024px) {
  footer .footer .footBox .footSns .footSnsCont li img {
    width: 60px;
    opacity: 0.5;
    transition: all 0.5s;
  }
  footer .footer .footBox .footSns .footSnsCont li img:hover {
    opacity: 1;
  }
}
footer .footer .footBox .footMenu {
  padding: 40px 0;
  font-size: 14px;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  footer .footer .footBox .footMenu {
    width: 30%;
    padding: 0;
    font-size: 14px;
  }
}
footer .footer .footBox .footMenu ul {
  display: flex;
  width: 100%;
  padding: 10px;
}
footer .footer .footBox .footMenu ul:last-child {
  text-align: left;
}
footer .footer .footBox .footMenu ul li {
  width: 33%;
  padding: 0 5px;
  text-align: center;
}
footer .footer .footBox .footMenu ul li a {
  width: 100%;
  color: white;
}/*# sourceMappingURL=otherjoo.css.map */