@import "style1.scss";
@import "common1.scss";
@import "mixin1.scss";

@include responsive(pc-screens) {
  body {
    width: 100%;
    height: 100%;
    max-width: 2560px;
  }
}

.container {
  // margin-right: 20px;
  // position: relative;
  width: 100%; // 모바일, 태블릿
  padding: 0 20px;
  // background-color: #000;
  // max-width: 1200px; // pc

  // background-color: #000;
  @include responsive(pc-screens) {
    margin: 0 auto;
    padding: 0;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(../../../../images/background/main_menu_background.png);
  // margin: 0 20px;

  .flexWrapper {
    @include responsive(pc-screens) {
      display: flex;
      height: 100%;
      flex-direction: row;
    }
    header {
      height: 80px;

      @include responsive(pc-screens) {
        // background-color: #ccc;
        width: 370px;
        height: auto;
        background-image: url(../../../../images/background/detail_page_header_background.png);
      }

      .header {
        @include responsive(pc-screens) {
          position: fixed;
        }
        .logoMenu {
          display: none;

          @include responsive(pc-screens) {
            display: block;
            padding-top: 70px;
            padding-left: 100px;
          }

          .logo {
            a {
              @include responsive(pc-screens) {
                width: 190px;
              }
            }
          }

          .menu {
            @include responsive(pc-screens) {
              margin-top: 130px;
            }

            .gnb {
              @include responsive(pc-screens) {
                font-size: 30px;
              }

              li {
                @include responsive(pc-screens) {
                  padding-bottom: 60px;

                  &:hover {
                    ul {
                      height: 100px;
                    }
                  }
                }

                &:first-child {
                  @include responsive(pc-screens) {
                    padding-bottom: 80px;
                  }
                }

                .subMenu {
                  @include responsive(pc-screens) {
                    height: 0px;
                    overflow: hidden;
                    padding-top: 40px;

                    transition: all 0.5s;
                  }

                  li {
                    @include responsive(pc-screens) {
                      display: flex;
                      padding-bottom: 0px;
                    }

                    a {
                      @include responsive(pc-screens) {
                        padding-left: 5px;
                        padding-bottom: 10px;
                        font : {
                          size: 18px;
                          family: $font-sub;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .mobileLogoMenu {
          display: flex;
          @include responsive(pc-screens) {
            display: none;
          }

          .mobileLogo {
            position: fixed;
            z-index: 3;
            top: 22px;
            left: 20px;
          }

          .beforeMenu {
            position: fixed;
            top: 38px;
            right: 20px;
            cursor: pointer;

            span {
              display: block;
              width: 30px;
              height: 4px;
              background-color: #000;
              &:nth-child(2) {
                margin: 5px 0;
              }
            }
          }
          .afterMenu {
            display: none;
            position: fixed;
            top: 38px;
            right: 20px;
            cursor: pointer;

            &:after {
              position: fixed;
              top: 25px;
              right: 20px;
              content: "\00d7";
              font-size: 50px;
              color: black;
            }
          }
        }
      }
    }
    // header

    main {
      // width: 100%;

      @include responsive(pc-screens) {
        width: 80%;
      }

      // position: relative;
      .main {
        @include responsive(pc-screens) {
          width: 1180px;
          margin: 0 auto;
          margin-top: -20px; // 추가함
        }

        .mainSubMenu {
          display: none;
          @include responsive(pc-screens) {
            display: block;
            width: 100%;
            height: 70px;
          }

          ul {
            @include responsive(pc-screens) {
              display: flex;
              position: absolute;
              top: 50px;
              right: 100px;
            }

            li {
              @include responsive(pc-screens) {
                padding-left: 25px;
              }

              a {
                @include responsive(pc-screens) {
                  font : {
                    family: $font-sub;
                    size: 14px;
                  }
                }
              }
            }
          }
        } // mainSubMenu

        // 여기부터 작성하세요오오
        .introStart {
          margin-top: 30px;
          text-align: center;

          @include responsive(pc-screens) {
            text-align: left;
            margin-top: 130px;
          }

          h3 {
            margin-bottom: 50px;
            font-size: 40px;
            font-family: $font-main;

            @include responsive(pc-screens) {
              font-size: 50px;
            }
          }

          .introMenu {
            ul {
              display: flex;
              justify-content: center;

              li {
                padding: 0 30px;

                @include responsive(pc-screens) {
                  font-size: 24px;
                }
                font: {
                  family: $font-sub;
                  size: 18px;
                }
                &:first-child {
                  border-right: 1px solid black;
                }
              }
            }
          }
        }
        // introStart

        .pageintro{
          position: relative;
          font-size: 2.833em;
          height: 177px;
          text-align: center;
          margin-bottom: 30px;
          @include responsive(pc-screens) {
            margin-top: 100px;
          }
  
          img {
            width: 100%;
            @include responsive(pc-screens) {
              width: 100%;
              
              margin-bottom: 100px;
              height: 376.3px;
            }
          }
  
          .text {
            font-family: $font-main;
            width: 110%;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -40%);
            span {
              margin: 11%;
            }
            p {
              display: none;
              @include responsive(pc-screens) {
                display: block;
                font-family: $font-main;
                font-size: 0.8em;
                margin-left: 14%;
                margin-top: 100px;
                width: 100%;
              }
            }
            @include responsive(pc-screens) {
              top: 90%; left: 20%;
            }
          }
        } // .pageintro

        div{
          margin-bottom: 10px;
          font-family: $font-sub;
          line-height: 30px;
          @include responsive(pc-screens) {
            display: inline-block;
            text-align: center;
          }
          h4 {
            font-family: $font-main;
            text-align: center;
            margin-bottom: 50px;
            font-size: 34px;
            span {
              display: none;
            @include responsive(pc-screens) {
              display: inline;
            }
          }
          @include responsive(pc-screens) {
            font-size: 40px;
            text-align: left;
            margin-bottom: 0;
          }
          }
          p {
            font-weight: bolder;
            font-size: 1.1em;
          }
          img.mobilenew {
            width: 100%;
            @include responsive(pc-screens) {
              display: none;
            }
          }
          img.pcnew {
            display: none;
            @include responsive(pc-screens) {
              display: block;
              width: 96%;
              margin-top: 25px;
              // &:hover {
              //   filter: brightness(40%);
              // }
            }
          }
        } // div


        .titlenew {
          // margin-top: -50px;
          @include responsive(pc-screens) {
            // margin-top: 50px;
            display: flex;
          }
        }

        .recommands {
          @include responsive(pc-screens) {
            margin-top: 80px;
          }
        }
        .recommand {
          position: relative;
          z-index: 0;
          .recommand-text {
            position: absolute;
            color: #fff;
            padding: 20px 5% 40px 5%;
            margin-top: -50%; margin-left: 35%;
            .black{
              color: #000;
            }
            @include responsive(pc-screens) {
              color: #000;
              top: 0%; left: -23%;
              span,
              span.black {
                // display: none;
                color: #fff;
              }
              p {
                line-height: 200px;
              } // p
            } // pc버전
          }
        } // recommand

        .sort {
          margin-top: 100px;
          .containerjj {
            h4 {
              text-align: center;
              @include responsive(pc-screens) {
                text-align: left;
              }
              span {
                display: none;
              @include responsive(pc-screens) {
                display: inline;
              }
              }
            }
  
            div.pc {
              display: none;
              @include responsive(pc-screens) {
                display: grid;
                .box { 
                  position:relative ;
                  overflow: hidden; 
                  width: 98%; 
                  img {width: 100%; height: 100%;}
                  .arrow-black {
                    position: absolute;
                    top: 50%; left: 80%;
                    cursor: pointer;
                    width: 50px; height: 50px;
                  }
                }
                .div1 {grid-area: div1;}
                .div2 {grid-area: div2; img {width: 100%;}}
                .div3 {grid-area: div3;}
                .div4 {grid-area: div4; height: 90%;}
                .div5 {grid-area: div5;}
                .div6 {grid-area: div6; height: 75.5%;}
                .div7 {grid-area: div7;margin-top: -35px; height: 84%;}
                .div8 {grid-area: div8;margin-top: -35px; width: 96%; height: 84%;}
                .div9 {grid-area: div9; height: 75.5%;}
                grid-template-areas: 
                  "div1 div1 div2 div2"
                  "div3 div4 div4 div5"
                  "div6 div7 div8 div9";
                
                .d {
                  position: absolute;
                  background-color: rgba(0,0,0,0.7);
                  color: #fff;
                  padding: 20px 60px;
                  .arrow-white {
                    position: absolute;
                    // z-index: 2;
                    top: 50%; left: 3%;
                    cursor: pointer;
                    width: 50px; height: 50px;
                  }
                  h5 {
                    font-size: 2em;
                    font-weight: normal;
                    font-family: $font-main;
                    text-align: center;
                  }
                }

                .d1 { height: 393px; width: 586px;}
                .d2 { margin-left: 7px;height: 393px; width: 586px;}
                .d3 { height: 399px; width: 326px;}
                .d4 { height: 368px; width: 504px;}
                .d5 { height: 398px; width: 326px;}
                .d6 { height: 319px; width: 326px;}
                .d7 { padding-right: 95px; margin-top: 0px; height: 353px; width: 320px;}
                .d8 { padding-right: 93px; height: 353px; width: 320px;}
                .d9 { height: 319px; width: 326px;}
              }
              margin-top: 50px;
              margin-bottom: 100px;
            }
  
            .mobile {  
              display: flex;
              flex-wrap: wrap;
              width: 92%;
              margin: 50px 4% 100px 4%;
              img {
                width: 50%; 
              }

              @include responsive(pc-screens) {
                display: none;
              }

              .modal {
                position: absolute;
                width: 100%; height: 100%;
                top: 0; left: 0;
                display: none;
                .modal_content {
                  position: relative;
                  width: 70%;
                  height: 340px;
                  position: absolute;
                  top: 60%; left: 15%;
                  background: rgba(0,0,0,0.7);
                  .modal-text {
                    padding: 8% 10%;
                    color: #fff;
                    h5 {
                      font-size: 2em;
                      font-weight: normal;
                      font-family: $font-main;
                      text-align: center;
                    }
                  }
                  .click {
                    position: absolute;
                    top: 85%;
                    color: #fff;
                    font-size: 0.8em;
                    padding-left: 8%;
                    line-height: 3em;
                    // background-color: rgba(100,50,100,0.4);
                    padding-bottom: 20px;
                  }
                }
              }
            } // .mobile
          } // containerjj
        } // .sort
      } // .main
    } // main
  }

  footer {
    .container {
      @include responsive(pc-screens) {
        margin: 0;
      }
    }
    .footer {
      width: 100%;
      height: 100%;
      background-color: black;
      color: white;

      @include responsive(pc-screens) {
        width: 100%;
        padding: 120px 185px 80px 545px;
      }

      .footInfo {
        padding-top: 60px;
        padding-bottom: 30px;

        @include responsive(pc-screens) {
          // padding: 0;
          display: flex;
          width: 100%;
          justify-content: space-between;

          font-size: 20px;
          margin-bottom: 30px;
        }

        address {
          font-style: normal;
          font-family: $font-sub;
        }

        p {
          margin: 20px 0;

          @include responsive(pc-screens) {
            margin: 0;
          }
        }
      }

      .footBox {
        width: 100%;
        @include responsive(pc-screens) {
          display: flex;
          height: 250px;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          text-align: center;

          border-top: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
        }

        .footLogoCopy {
          padding: 30px;
          border-top: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
          text-align: center;

          @include responsive(pc-screens) {
            width: 30%;
            padding: 0;
            border: 0;
          }

          a {
            color: white;
            font-size: 60px;
          }

          p {
            font-size: 10px;
          }

          .copyright {
            @include responsive(pc-screens) {
              font-size: 12px;
              font-family: $font-sub;
            }
          }
        }

        .footSns {
          padding: 30px;
          border-bottom: 1px solid #ccc;

          @include responsive(pc-screens) {
            position: relative;
            width: 40%;
            height: 250px;
            border-bottom: 0;
            border-right: 1px solid #ccc;
            border-left: 1px solid #ccc;
          }
          .footSnsCont {
            display: flex;
            justify-content: center;

            @include responsive(pc-screens) {
              padding: 60px 80px;
            }

            li {
              padding: 10px;

              @include responsive(pc-screens) {
                padding-right: 15px;

                &:last-child {
                  padding-right: 0;
                }
              }
              img {
                width: 50px;

                @include responsive(pc-screens) {
                  width: 60px;
                  opacity: 0.5;

                  transition: all 0.5s;

                  &:hover {
                    opacity: 1;
                  }
                }
              }
            }
          }
        }

        .footMenu {
          padding: 40px 0;
          font-size: 14px;
          width: 100%;

          @include responsive(pc-screens) {
            width: 30%;
            padding: 0;
            font-size: 14px;
          }
          ul {
            display: flex;
            width: 100%;
            padding: 10px ;
            // margin-left: 5px;

            &:last-child {
              text-align: left;
            }

            li {
              width: 33%;
              padding: 0 5px;
              text-align: center;

              a {
                width: 100%;
                color: white;
              }
            }
          }
        }
      }
    }
  }
}

.wrapper1 {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100vh;
  @include responsive(pc-screens) {
    display: none;
  }

  .wrap-inner {
    height: 100vh;
    background-image: url(../../../../images/background/main_menu_background.png);
    @include responsive(pc-screens) {
      display: none;
    }
    .container1 {
      width: 100%; // 모바일, 태블릿
      padding: 0 20px;
      @include responsive(pc-screens) {
        display: flex;
        padding: 0 130px;
        flex-wrap: wrap;
      }

      .menu1 {
        position: relative;
        margin-top: 0;
        height: 550px;
        @include responsive(pc-screens) {
          position: relative;
          width: 77%;
          height: 820px;
        }
        .gnb {
          position: absolute;
          top: 8%;
          right: 0;
          left: 0;
          @include responsive(pc-screens) {
            position: absolute;
            top: 60px;
          }
          #extra {
            margin: 50px 0 70px;
          }
          li {
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;
            @include responsive(pc-screens) {
              display: initial;
            }

            a {
              font-size: 34px;
              @include responsive(pc-screens) {
                font-size: 50px;
              }
            }
            .gnb-title {
              @include responsive(pc-screens) {
                margin: 50px 0 20px 0;
              }
            }

            .sub-gnb {
              li {
                margin-bottom: 0;
                @include responsive(pc-screens) {
                  display: flex;
                  justify-content: left;
                }
                a {
                  color: #a3a3a3;
                  font-size: 16px;
                  margin-bottom: 20px;
                  @include responsive(pc-screens) {
                    font-size: 30px;
                    margin-bottom: 10px;
                  }
                }
              }
              .sub-gnb-li {
                justify-content: end;
                @include responsive(pc-screens) {
                  justify-content: left;
                }
              }
              .sub-gnb-li2 {
                flex-direction: column;
                text-align: right;
                @include responsive(pc-screens) {
                  text-align: left;
                  flex-direction: row;
                }
              }
            }
          }
        }
      } // menu

      .menu2 {
        font-family: $font-sub;
        font-size: 12px;
        @include responsive(pc-screens) {
          width: 23%;
          margin: 0;
        }
        .close-btn-pc {
          display: none;
          @include responsive(pc-screens) {
            display: block;
            position: absolute;
            top: 60px;
            right: 150px;
          }
        }
        ul {
          display: flex;
          justify-content: center;
          padding-top: 25px;
          @include responsive(pc-screens) {
            display: initial;
            font-family: $font-main;
            font-size: 25px;
          }
          li {
            @include responsive(pc-screens) {
              margin-top: 130px;
            }
            a {
              margin: 0 20px;
              @include responsive(pc-screens) {
                color: #a3a3a3;
              }
            }
          }
        }
      } //menu2

      span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #a3a3a3;
        margin-top: 20px;
      }
      .footer {
        @include responsive(pc-screens) {
          display: flex;
          width: 100%;
        }

        .sns1 {
          padding: 40px;
          @include responsive(pc-screens) {
            width: 65%;
            padding: 20px 0;
          }
          .footSns1 {
            display: flex;
            justify-content: center;
            @include responsive(pc-screens) {
              justify-content: left;
            }
            li {
              padding: 10px;
              img {
                width: 40px;
                @include responsive(pc-screens) {
                  width: 40px;
                }
              }
            }
          }
        } // sns
        .footerInfo1 {
          display: flex;
          justify-content: space-between;
          font-size: 11.5px;
          @include responsive(pc-screens) {
            width: 35%;
            padding: 0;
            font-size: 16px;
            align-items: center;
            justify-content: end;
          }
          p {
            @include responsive(pc-screens) {
              &:last-child {
                margin-left: 100px;
              }
            }
          }
        }
      } // footer
    } // container
  } // wrap-inner
}