* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "SANGJU Gyeongcheon Island";
}

ul,
ol {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: white;
}
a:hover {
  font-weight: 600;
}

h1 {
  font-size: 3.125em;
}

h2 {
  font-size: 0;
}

h3 {
  color: white;
  font-size: 3.125em;
}

h4 {
  color: white;
  font-size: 1.5em;
  font-weight: 600;
}

p {
  font-size: 1em;
  font-family: "NotoSerifKR-Regular";
}

@media screen and (min-width: 1024px) {
  body {
    width: 100%;
    height: 100%;
    max-width: 2560px;
  }
}
.container {
  padding: 0 20px;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .container {
    padding: 0;
    margin: 0 auto;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 2738px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header {
    height: auto;
    width: 370px;
    background-color: black;
  }
}
.wrapper .flexWrapper header .header .logoMenu {
  display: none;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu {
    display: block;
    padding-top: 70px;
    padding-left: 100px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu .logo a {
    width: 190px;
    color: white;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu .menu {
    margin-top: 130px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu .menu .gnb {
    font-size: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu .menu .gnb li {
    padding-bottom: 60px;
  }
  .wrapper .flexWrapper header .header .logoMenu .menu .gnb li:hover ul {
    height: 100px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu .menu .gnb li:first-child {
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu .menu .gnb li .subMenu {
    height: 0px;
    overflow: hidden;
    padding-top: 40px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu .menu .gnb li .subMenu li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 0px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu .menu .gnb li .subMenu li a {
    padding-left: 5px;
    padding-bottom: 10px;
    font-size: 18px;
    font-family: "NotoSerifKR-Regular";
  }
}
.wrapper .flexWrapper header .header .mobileLogoMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .mobileLogoMenu {
    display: none;
  }
}
.wrapper .flexWrapper header .header .mobileLogoMenu .mobileLogo {
  position: fixed;
  top: 22px;
  left: 20px;
  z-index: 999;
}
.wrapper .flexWrapper header .header .mobileLogoMenu .mobileMenu {
  position: fixed;
  top: 38px;
  right: 20px;
  cursor: pointer;
  z-index: 999;
}
.wrapper .flexWrapper header .header .mobileLogoMenu .mobileMenu span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: white;
}
.wrapper .flexWrapper header .header .mobileLogoMenu .mobileMenu span:nth-child(2) {
  margin: 5px 0;
}
.wrapper .flexWrapper main {
  position: relative;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main {
    width: 80%;
  }
}
.wrapper .flexWrapper main .slider {
  height: 400px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  position: relative;
}
.wrapper .flexWrapper main .slider .inner {
  width: 390px;
  float: left;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .slider .inner {
    width: 2191px;
  }
}
.wrapper .flexWrapper main .slider .inner img {
  height: 400px;
  width: 100%;
  vertical-align: top;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .slider .inner img {
    height: 1130px;
    vertical-align: top;
  }
}
.wrapper .flexWrapper main .slider .inner .main-title {
  position: absolute;
  color: white;
  font-size: 16px;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .slider .inner .main-title {
    font-size: 40px;
    left: 996px;
    top: 480px;
  }
}
.wrapper .flexWrapper main .slider .inner .main-title1 {
  position: absolute;
  color: white;
  font-size: 16px;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -100px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .slider .inner .main-title1 {
    margin: -100px 0 0 -300px;
    font-size: 50px;
    text-align: center;
  }
}
.wrapper .flexWrapper main .slider .inner .main-title1 h4 {
  margin-top: 10px;
  font-size: 16px;
  margin: 10px 0 0 -60px;
  text-align: center;
  width: 310px;
  line-height: 20px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .slider .inner .main-title1 h4 {
    margin-top: 30px;
    font-size: 26px;
    width: 780px;
    line-height: 50px;
  }
}
.wrapper .flexWrapper main .bx-controls-direction {
  font-size: 0;
}
.wrapper .flexWrapper main .bx-pager {
  position: absolute;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.wrapper .flexWrapper main .bx-pager .bx-pager-item a {
  font-size: 0;
  width: 38px;
  height: 9px;
  margin: 0 10px;
  background: white;
  border: 2px solid brown;
}
.wrapper .flexWrapper main .button {
  position: absolute;
  top: 370px;
  left: 130px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .button {
    top: 1050px;
    left: 940px;
  }
}
.wrapper .flexWrapper main .button .button1 {
  width: 38px;
  height: 8px;
  background-color: white;
  border: 2px solid brown;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .button .button1 {
    width: 81px;
    height: 13px;
  }
}
.wrapper .flexWrapper main .button .button2,
.wrapper .flexWrapper main .button .button3 {
  width: 38px;
  height: 8px;
  background-color: brown;
  border: 2px solid white;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .button .button2,
.wrapper .flexWrapper main .button .button3 {
    margin-left: 30px;
    width: 81px;
    height: 13px;
  }
}
.wrapper .flexWrapper main .mainSubMenu {
  display: none;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .mainSubMenu {
    display: block;
    font-family: "NotoSerifKR-Regular";
  }
}
.wrapper .flexWrapper main .mainSubMenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 150px;
  top: 50px;
}
.wrapper .flexWrapper main .mainSubMenu ul li {
  padding-left: 25px;
}
@media screen and (min-width: 1024px) {
  .wrapper footer .container {
    margin: 0;
  }
}
.wrapper footer .footer {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
}
@media screen and (min-width: 1024px) {
  .wrapper footer .footer {
    width: 100%;
    padding: 120px 185px 80px 545px;
  }
}
.wrapper footer .footer .footInfo {
  padding-top: 60px;
  padding-bottom: 30px;
}
@media screen and (min-width: 1024px) {
  .wrapper footer .footer .footInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 20px;
    margin-bottom: 30px;
  }
}
.wrapper footer .footer .footInfo address {
  font-style: normal;
  font-family: "NotoSerifKR-Regular";
}
.wrapper footer .footer .footInfo p {
  margin: 20px 0;
}
@media screen and (min-width: 1024px) {
  .wrapper footer .footer .footInfo p {
    margin: 0;
  }
}
.wrapper footer .footer .footBox {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .wrapper footer .footer .footBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 250px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
}
.wrapper footer .footer .footBox .footLogoCopy {
  padding: 30px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .wrapper footer .footer .footBox .footLogoCopy {
    width: 30%;
    padding: 0;
    border: 0;
  }
}
.wrapper footer .footer .footBox .footLogoCopy a {
  color: white;
  font-size: 60px;
}
.wrapper footer .footer .footBox .footLogoCopy p {
  font-size: 10px;
}
@media screen and (min-width: 1024px) {
  .wrapper footer .footer .footBox .footLogoCopy .copyright {
    font-size: 12px;
    font-family: "NotoSerifKR-Regular";
  }
}
.wrapper footer .footer .footBox .footSns {
  padding: 30px;
  border-bottom: 1px solid #ccc;
}
@media screen and (min-width: 1024px) {
  .wrapper footer .footer .footBox .footSns {
    position: relative;
    width: 40%;
    height: 250px;
    border-bottom: 0;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
  }
}
.wrapper footer .footer .footBox .footSns .footSnsCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1024px) {
  .wrapper footer .footer .footBox .footSns .footSnsCont {
    padding: 60px 80px;
  }
}
.wrapper footer .footer .footBox .footSns .footSnsCont li {
  padding: 10px;
}
@media screen and (min-width: 1024px) {
  .wrapper footer .footer .footBox .footSns .footSnsCont li {
    padding-right: 15px;
  }
  .wrapper footer .footer .footBox .footSns .footSnsCont li:last-child {
    padding-right: 0;
  }
}
.wrapper footer .footer .footBox .footSns .footSnsCont li img {
  width: 50px;
}
@media screen and (min-width: 1024px) {
  .wrapper footer .footer .footBox .footSns .footSnsCont li img {
    width: 60px;
    opacity: 0.5;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .wrapper footer .footer .footBox .footSns .footSnsCont li img:hover {
    opacity: 1;
  }
}
.wrapper footer .footer .footBox .footMenu {
  padding: 40px 0;
  font-size: 14px;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .wrapper footer .footer .footBox .footMenu {
    width: 30%;
    padding: 0;
    font-size: 14px;
  }
}
.wrapper footer .footer .footBox .footMenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 10px;
}
.wrapper footer .footer .footBox .footMenu ul:last-child {
  text-align: left;
}
.wrapper footer .footer .footBox .footMenu ul li {
  width: 33%;
  padding: 0 5px;
  text-align: center;
}
.wrapper footer .footer .footBox .footMenu ul li a {
  width: 100%;
  color: white;
}