@import "./style1.scss";
@import "./common1.scss";
@import "./mixin1.scss";

@include responsive(pc-screens) {
  body {
    width: 100%;
    height: 100%;
    max-width: 2560px;
  }
}

.wrapper {
  @include responsive(pc-screens) {
    width: 100%;
    height: 935px;
    position: relative;
    background-image: url(../../../images/background/main_page_background.png);
    z-index: 1;
  }
  .wrap-inner {
    height: 100vh;
    background-image: url(../../../images/background/main_menu_background.png);
    @include responsive(pc-screens) {
    position: absolute;
    right:0;
    top:0;
    width: 70%;
    height: 930px;
    z-index: 2;
    }

    header {
      .mobileLogoMenu {
        display: flex;
        @include responsive(pc-screens) {
          display: none;
        }

        .mobileLogo {
          position: fixed;
          top: 22px;
          left: 20px;
        }
        .close {
          position: fixed;
          right:20px;
          top: 30px;
          img {
            width: 26px;
            height: 26px;
          }
        }
      } // mobileLogoMenu
    } // header

    .menu {
      .gnb {

        display: flex;
      }
    }



  } // wrap-inner
} // wrapper




