@import "./style1.scss";
@import "./common1.scss";
@import "./mixin1.scss";

@include responsive(pc-screens) {
  body {
    width: 100%;
    height: 100%;
    max-width: 2560px;
  }
}

.container {
  padding: 0 20px;
  // margin-right: 20px;
  // position: relative;
  width: 100%; // 모바일, 태블릿
  // max-width: 1200px; // pc

  @include responsive(pc-screens) {
    padding: 0;
    margin: 0 auto;
    // background-color: antiquewhite;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;

  // margin: 0 20px;

  .flexWrapper {
    @include responsive(pc-screens) {
      height: auto;
      display: flex;
      flex-direction: row;
      width: 2738px;
    }
    header {
      // height: 80px;
      // background-color: black;
      @include responsive(pc-screens) {
        height: auto;
        // background-color: #ccc;
        width: 370px;
        background-color: black;
      }

      .header {
        .logoMenu {
          display: none;

          @include responsive(pc-screens) {
            display: block;
            padding-top: 70px;
            padding-left: 100px;
          }

          .logo {
            a {
              @include responsive(pc-screens) {
                width: 190px;
                color: $color-sub;
              }
            }
          }

          .menu {
            @include responsive(pc-screens) {
              margin-top: 130px;
            }

            .gnb {
              @include responsive(pc-screens) {
                font-size: 30px;
              }

              li {
                @include responsive(pc-screens) {
                  padding-bottom: 60px;

                  &:hover {
                    ul {
                      height: 100px;
                    }
                  }
                }

                &:first-child {
                  @include responsive(pc-screens) {
                    padding-bottom: 80px;
                  }
                }

                .subMenu {
                  @include responsive(pc-screens) {
                    height: 0px;
                    overflow: hidden;
                    padding-top: 40px;

                    transition: all 0.5s;
                  }

                  li {
                    @include responsive(pc-screens) {
                      display: flex;
                      padding-bottom: 0px;
                    }

                    a {
                      @include responsive(pc-screens) {
                        padding-left: 5px;
                        padding-bottom: 10px;
                        font : {
                          size: 18px;
                          family: $font-sub;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .mobileLogoMenu {
          display: flex;
          @include responsive(pc-screens) {
            display: none;
          }

          .mobileLogo {
            position: fixed;
            top: 22px;
            left: 20px;
            z-index: 999;
          }

          .mobileMenu {
            position: fixed;
            top: 38px;
            right: 20px;
            cursor: pointer;
            z-index: 999;

            span {
              display: block;
              width: 30px;
              height: 4px;
              background-color: white;
              &:nth-child(2) {
                margin: 5px 0;
              }
            }
          }
        }
      }
    }
    // header

    main {
      position: relative;
      @include responsive(pc-screens) {
        width: 80%;
      }
      .slider {
        // width: 1560px;
        height: 400px;
        transition: transform 0.5s;
        @include responsive(pc-screens) {
          // width: 6573px;
        }
        position: relative;
        .inner {
          width: 390px;
          float: left;
          @include responsive(pc-screens) {
            width: 2191px;
          }
          img {
            height: 400px;
            width: 100%;
            vertical-align: top;
            @include responsive(pc-screens) {
              height: 1130px;
              vertical-align: top;
            }
          }
          .main-title {
            position: absolute;
            color: white;
            font-size: 16px;
            top: 50%;
            left: 50%;
            margin: -50px 0 0 -50px;
            @include responsive(pc-screens) {
              font-size: 40px;
              left: 996px;
              top: 480px;
            }
          } //.main-title
          .main-title1 {
            position: absolute;
            color: white;
            font-size: 16px;
            top: 50%;
            left: 50%;
            margin: -50px 0 0 -100px;
            @include responsive(pc-screens) {
              margin: -100px 0 0 -300px;
              font-size: 50px;
              text-align: center;
            }
            h4 {
              margin-top: 10px;
              font-size: 16px;
              margin: 10px 0 0 -60px;
              text-align: center;
              width: 310px;
              line-height: 20px;
              @include responsive(pc-screens) {
                margin-top: 30px;
                font-size: 26px;
                width: 780px;
                line-height: 50px;
              }
            }
          }
        } // inner
      } // slider
      .bx-controls-direction {
        font-size: 0;
      }
      .bx-pager {
        // font-size: 0;
        position: absolute;
        bottom: 20px;
        display: flex;
        flex-direction: row;
        left: 50%;
        transform: translate(-50%, -50%);
        .bx-pager-item {
          a {
            font-size: 0;
            width: 38px;
            height: 9px;
            margin: 0 10px;
            background: white;
            border: 2px solid brown;
          }
        }
      }

      .button {
        position: absolute;
        top: 370px;
        left: 130px;
        @include responsive(pc-screens) {
          top: 1050px;
          left: 940px;
        }
        .button1 {
          width: 38px;
          height: 8px;
          background-color: white;
          border: 2px solid brown;
          @include responsive(pc-screens) {
            width: 81px;
            height: 13px;
          }
        }
        .button2,
        .button3 {
          width: 38px;
          height: 8px;
          background-color: brown;
          border: 2px solid white;
          @include responsive(pc-screens) {
            margin-left: 30px;
            width: 81px;
            height: 13px;
          }
        }
      }

      .mainSubMenu {
        display: none;
        @include responsive(pc-screens) {
          display: block;
          font-family: $font-sub;
        }
        ul {
          display: flex;
          position: absolute;
          right: 150px;
          top: 50px;
          li {
            padding-left: 25px;
          }
        }
      }
    } // main
  }
  // flexwrapper

  footer {
    .container {
      @include responsive(pc-screens) {
        margin: 0;
      }
    }
    .footer {
      width: 100%;
      height: 100%;
      background-color: black;
      color: white;

      @include responsive(pc-screens) {
        width: 100%;
        padding: 120px 185px 80px 545px;
      }

      .footInfo {
        padding-top: 60px;
        padding-bottom: 30px;

        @include responsive(pc-screens) {
          // padding: 0;
          display: flex;
          width: 100%;
          justify-content: space-between;

          font-size: 20px;
          margin-bottom: 30px;
        }

        address {
          font-style: normal;
          font-family: $font-sub;
        }

        p {
          margin: 20px 0;

          @include responsive(pc-screens) {
            margin: 0;
          }
        }
      }

      .footBox {
        width: 100%;
        @include responsive(pc-screens) {
          display: flex;
          height: 250px;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          text-align: center;

          border-top: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
        }

        .footLogoCopy {
          padding: 30px;
          border-top: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
          text-align: center;

          @include responsive(pc-screens) {
            width: 30%;
            padding: 0;
            border: 0;
          }

          a {
            color: white;
            font-size: 60px;
          }

          p {
            font-size: 10px;
          }

          .copyright {
            @include responsive(pc-screens) {
              font-size: 12px;
              font-family: $font-sub;
            }
          }
        }

        .footSns {
          padding: 30px;
          border-bottom: 1px solid #ccc;

          @include responsive(pc-screens) {
            position: relative;
            width: 40%;
            height: 250px;
            border-bottom: 0;
            border-right: 1px solid #ccc;
            border-left: 1px solid #ccc;
          }
          .footSnsCont {
            display: flex;
            justify-content: center;

            @include responsive(pc-screens) {
              padding: 60px 80px;
            }

            li {
              padding: 10px;

              @include responsive(pc-screens) {
                padding-right: 15px;

                &:last-child {
                  padding-right: 0;
                }
              }
              img {
                width: 50px;

                @include responsive(pc-screens) {
                  width: 60px;
                  opacity: 0.5;

                  transition: all 0.5s;

                  &:hover {
                    opacity: 1;
                  }
                }
              }
            }
          }
        }

        .footMenu {
          padding: 40px 0;
          font-size: 14px;
          width: 100%;

          @include responsive(pc-screens) {
            width: 30%;
            padding: 0;
            font-size: 14px;
          }
          ul {
            display: flex;
            width: 100%;
            padding: 10px;
            // margin-left: 5px;

            &:last-child {
              text-align: left;
            }

            li {
              width: 33%;
              padding: 0 5px;
              text-align: center;

              a {
                width: 100%;
                color: white;
              }
            }
          }
        }
      }
    }
  }
}
