@font-face {
  font-family: "SANGJU Gyeongcheon Island";
  src:url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/SANGJUGyeongcheonIsland.woff') format('woff');
}

@font-face {
  font-family: "NotoSerifKR-Regular";
  src: url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');
}

$color-main: white;
$color-sub: black;
$color-special: #ccc;

$font-main: "SANGJU Gyeongcheon Island";
$font-sub: "NotoSerifKR-Regular";

$break-mobile: 320px;
$break-tablet: 768px;
$break-pc: 1024px;
