* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "SANGJU Gyeongcheon Island";
}

ul,
ol {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: black;
}
a:hover {
  font-weight: 600;
}

h1 {
  font-size: 3.125em;
}

h2 {
  font-size: 0;
}

h3 {
  color: black;
  font-size: 3.125em;
}

h4 {
  color: black;
  font-size: 1.5em;
  font-weight: 600;
}

p {
  font-size: 1em;
  font-family: "NotoSerifKR-Regular";
}

@media screen and (min-width: 1024px) {
  body {
    width: 100%;
    height: 100%;
    max-width: 2560px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper {
    width: 100%;
    height: 935px;
    position: relative;
    background-image: url(../../../images/background/main_page_background.png);
    z-index: 1;
  }
}
.wrapper .wrap-inner {
  height: 100vh;
  background-image: url(../../../images/background/main_menu_background.png);
}
@media screen and (min-width: 1024px) {
  .wrapper .wrap-inner {
    position: absolute;
    right: 0;
    top: 0;
    width: 70%;
    height: 930px;
    z-index: 2;
  }
}
.wrapper .wrap-inner header .mobileLogoMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 1024px) {
  .wrapper .wrap-inner header .mobileLogoMenu {
    display: none;
  }
}
.wrapper .wrap-inner header .mobileLogoMenu .mobileLogo {
  position: fixed;
  top: 22px;
  left: 20px;
}
.wrapper .wrap-inner header .mobileLogoMenu .close {
  position: fixed;
  right: 20px;
  top: 30px;
}
.wrapper .wrap-inner header .mobileLogoMenu .close img {
  width: 26px;
  height: 26px;
}
.wrapper .wrap-inner .menu .gnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}