@import "./style1.scss";
@import "./common1.scss";
@import "./mixin1.scss";

@include responsive(pc-screens) {
  body {
    width: 100%;
    height: 100%;
    max-width: 2560px;
  }
}

.container {
  padding: 0 20px;
  // margin-right: 20px;
  // position: relative;
  width: 100%; // 모바일, 태블릿
  // max-width: 1200px; // pc

  @include responsive(pc-screens) {
    padding: 0;
    margin: 0 auto;
    background-color: antiquewhite;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(../../../../images/background/detail_page_main_background.png);
  // margin: 0 20px;

  .flexWrapper {
    @include responsive(pc-screens) {
      height: 100%;
      display: flex;
      flex-direction: row;
    }
    header {
      height: 80px;

      @include responsive(pc-screens) {
        height: auto;
        // background-color: #ccc;
        width: 370px;
        background-image: url(../../../../images/background/detail_page_header_background.png);
      }

      .header {
        .logoMenu {
          display: none;

          @include responsive(pc-screens) {
            display: block;
            padding-top: 70px;
            padding-left: 100px;
          }

          .logo {
            a {
              @include responsive(pc-screens) {
                width: 190px;
              }
            }
          }

          .menu {
            @include responsive(pc-screens) {
              margin-top: 130px;
            }

            .gnb {
              @include responsive(pc-screens) {
                font-size: 30px;
              }

              li {
                @include responsive(pc-screens) {
                  padding-bottom: 60px;

                  &:hover {
                    ul {
                      height: 100px;
                    }
                  }
                }

                &:first-child {
                  @include responsive(pc-screens) {
                    padding-bottom: 80px;
                  }
                }

                .subMenu {
                  @include responsive(pc-screens) {
                    height: 0px;
                    overflow: hidden;
                    padding-top: 40px;

                    transition: all 0.5s;
                  }

                  li {
                    @include responsive(pc-screens) {
                      display: flex;
                      padding-bottom: 0px;
                    }

                    a {
                      @include responsive(pc-screens) {
                        padding-left: 5px;
                        padding-bottom: 10px;
                        font : {
                          size: 18px;
                          family: $font-sub;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .mobileLogoMenu {
          display: flex;
          @include responsive(pc-screens) {
            display: none;
          }

          .mobileLogo {
            position: fixed;
            top: 22px;
            left: 20px;
          }

          .mobileMenu {
            position: fixed;
            top: 38px;
            right: 20px;
            cursor: pointer;

            span {
              display: block;
              width: 30px;
              height: 4px;
              background-color: #000;
              &:nth-child(2) {
                margin: 5px 0;
              }
            }
          }
        }
      }
    }
    // header

    main {
      // width: 100%;

      @include responsive(pc-screens) {
        width: 80%;
      }

      .main {
        // position: relative;
        @include responsive(pc-screens) {
          width: 1180px;
          margin: 0 auto;
        }

        .mainSubMenu {
          display: none;
          @include responsive(pc-screens) {
            display: block;
            width: 100%;
            height: 70px;
          }

          ul {
            @include responsive(pc-screens) {
              display: flex;
              position: absolute;
              right: 100px;
              top: 50px;
            }

            li {
              @include responsive(pc-screens) {
                padding-left: 25px;
              }

              a {
                @include responsive(pc-screens) {
                  font : {
                    family: $font-sub;
                    size: 14px;
                  }
                }
              }
            }
          }
        } // mainSubMenu

        // ==============sec1==========전국6도 전통주 //
        .sec1 {
          margin-top: 30px;
          text-align: center;
          @include responsive(pc-screens) {
            margin-top: 130px;
          }

          h3 {
            font-size: 40px;
            @include responsive(pc-screens) {
              font-size: 50px;
            }
          }
          .region_six {
            margin: 100px 0;
            display: flex;
            position: relative;
            div {
              width: 100%;

              h4 {
                width: 105px;
                margin: 100px 20px 0 20px;
                @include responsive(pc-screens) {
                  margin: 240px 60px 0 110px;
                  font-size: 48px;
                  width: 150px;
                }
              }

              img {
                width: 195px;
                height: 237px;
                @include responsive(pc-screens) {
                  width: 433px;
                  height: 529px;
                }
              }
            }
          } // region_six
        } // main
      } // container
    } // sec1
    .banner1 {
      // width: 100%;
      height: 197px;
      @include responsive(pc-screens) {
        width: 100%;
        height: 507px;
      }
    }

    // ============== sec2 =============
    .sec2 {
      margin: 100px 0 50px 0;
      @include responsive(pc-screens) {
        margin-bottom: 0;
      }

      .main {
        .container {
          .p-gap {
            @include responsive(pc-screens) {
              padding: 0 60px;
            }

            .region_con {
              margin: 20px 0;
              h3 {
                text-align: center;
                margin: 0 35px;
                font-size: 34px;
                line-height: 35px;
                padding: 0 20px;
                @include responsive(pc-screens) {
                  text-align: left;
                  margin: 10px 0 50px 0;
                  padding: 0 0;
                  font-size: 50px;
                }
              }
              span {
                margin: 25px 0;
                display: block;
                width: 100%;
                height: 2px;
                background-color: #dbdbdb;
                @include responsive(pc-screens) {
                  display: none;
                }
              }
              p {
                font-family: $font-sub;
                color: #606060;
                line-height: 20px;
                @include responsive(pc-screens) {
                  font-size: 24px;
                  line-height: 30px;
                }
              }
              .pc-line {
                display: none;
                @include responsive(pc-screens) {
                  display: block;
                }
              }
            } // region_con

            .mobile-menu {
              padding: 5px 5px;
              display: flex;
              justify-content: space-between;
              @include responsive(pc-screens) {
                display: none;
              }
              div {
                font-family: $font-sub;
                font-size: 18px;
              }
            } // mobile-menu
            .line {
              margin: 10px 0 15px 0;
              display: block;
              width: 100%;
              height: 8px;
              background-color: #dbdbdb;
              @include responsive(pc-screens) {
                display: none;
              }
            } // line
            .region_box_twelve {
              display: flex;
              justify-content: space-between;
              div {
                font-family: $font-sub;
                margin-right: 20px;
                @include responsive(pc-screens) {
                  margin-bottom: 60px;
                }

                img {
                  width: 166px;
                  height: 229px;
                  @include responsive(pc-screens) {
                    width: 270px;
                    height: 372px;
                  }
                }
                .box-even {
                  height: 151px;
                  @include responsive(pc-screens) {
                    width: 270px;
                    height: 259px;
                  }
                }

                h4 {
                  font-size: 14px;
                  padding: 20px 0;
                  @include responsive(pc-screens) {
                    font-size: 24px;
                  }
                }
                p {
                  font-size: 12px;
                  line-height: 20px;
                  @include responsive(pc-screens) {
                    font-size: 20px;
                  }
                }
              }
            } // region_box_twelve
            span {
              display: none;
              @include responsive(pc-screens) {
                display: block;
                background-color: #dbdbdb;
                height: 5px;
                width: 100%;
              }
            }
          } // p-gap
        } // container
      } //.main
    } // sec2
    .sec3 {
      .main {
        .banner-2 {
          width: 100%;
          margin-bottom: 100px;
          @include responsive(pc-screens) {
            width: 100%;
            height: 540px;
            margin-top: 100px;
          }
        }
        .container {
          .ricewine_title {
            position: relative;
            @include responsive(pc-screens) {
              position: relative;
            }
            h1 {
              position: absolute;
              top: 20px;
              left: 210px;
              font-size: 40px;
              @include responsive(pc-screens) {
                top: 49px;
                left: 770px;
                font-size: 50px;
              }
            }
            h6 {
              margin-left: 10px;
              color: #dbdbdb;
              font-size: 24px;
              @include responsive(pc-screens) {
                position: absolute;
                top: 60px;
                left: 460px;
                font-size: 32px;
              }
            }
            span {
              display: none;
              @include responsive(pc-screens) {
                display: block;
                width: 300px;
                height: 2px;
                background-color: #dbdbdb;
                position: absolute;
                top: 50px;
                left: 460px;
              }
            }
          }
          .ricewine-con {
            position: relative;
            height: 1350px;
            top: 60px;
            font-family: $font-sub;

            @include responsive(pc-screens) {
              position: relative;
              top: 0;
              height: 1100px;
            }
            .ricewine-con1 {
              @include responsive(pc-screens) {
                position: absolute;
                left: 160px;
              }
              .ricewine-p1 {
                width: 300px;
                height: 420px;
              }
              h6 {
                font-size: 24px;
                padding: 10px;
              }
              p {
                font-size: 16px;
                padding: 10px 10px 60px 10px;
                line-height: 30px;
                width: 300px;
                
              }
            }
            .ricewine-con2 {
              text-align: right;
              width: 330px;
              @include responsive(pc-screens) {
                position: absolute;
                right: 150px;
                top: 350px;
                text-align: left;
              }
              .ricewine-p2 {
                width: 300px;
                height: 290px;
                @include responsive(pc-screens) {
                  width: 350px;
                  height: 330px;
                }
              }
              h6 {
                font-size: 24px;
                padding: 10px;
              }
              p {
                
                font-size: 16px;
                padding: 10px 10px 60px 10px;
                line-height: 30px;
                @include responsive(pc-screens) {
                  width: 350px;
                }
              }
            }
          }
        } // container
      } // .main
    } // sec3
  } // main
}
// flexwrapper

footer {
  .container {
    @include responsive(pc-screens) {
      margin: 0;
    }
  }
  .footer {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;

    @include responsive(pc-screens) {
      width: 100%;
      padding: 120px 185px 80px 545px;
    }

    .footInfo {
      padding-top: 60px;
      padding-bottom: 30px;

      @include responsive(pc-screens) {
        // padding: 0;
        display: flex;
        width: 100%;
        justify-content: space-between;

        font-size: 20px;
        margin-bottom: 30px;
      }

      address {
        font-style: normal;
        font-family: $font-sub;
      }

      p {
        margin: 20px 0;

        @include responsive(pc-screens) {
          margin: 0;
        }
      }
    }

    .footBox {
      width: 100%;
      @include responsive(pc-screens) {
        display: flex;
        height: 250px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        text-align: center;

        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
      }

      .footLogoCopy {
        padding: 30px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        text-align: center;

        @include responsive(pc-screens) {
          width: 30%;
          padding: 0;
          border: 0;
        }

        a {
          color: white;
          font-size: 60px;
        }

        p {
          font-size: 10px;
        }

        .copyright {
          @include responsive(pc-screens) {
            font-size: 12px;
            font-family: $font-sub;
          }
        }
      }

      .footSns {
        padding: 30px;
        border-bottom: 1px solid #ccc;

        @include responsive(pc-screens) {
          position: relative;
          width: 40%;
          height: 250px;
          border-bottom: 0;
          border-right: 1px solid #ccc;
          border-left: 1px solid #ccc;
        }
        .footSnsCont {
          display: flex;
          justify-content: center;

          @include responsive(pc-screens) {
            padding: 60px 80px;
          }

          li {
            padding: 10px;

            @include responsive(pc-screens) {
              padding-right: 15px;

              &:last-child {
                padding-right: 0;
              }
            }
            img {
              width: 50px;

              @include responsive(pc-screens) {
                width: 60px;
                opacity: 0.5;

                transition: all 0.5s;

                &:hover {
                  opacity: 1;
                }
              }
            }
          }
        }
      }

      .footMenu {
        padding: 40px 0;
        font-size: 14px;
        width: 100%;

        @include responsive(pc-screens) {
          width: 30%;
          padding: 0;
          font-size: 14px;
        }
        ul {
          display: flex;
          width: 100%;
          padding: 10px;
          // margin-left: 5px;

          &:last-child {
            text-align: left;
          }

          li {
            width: 33%;
            padding: 0 5px;
            text-align: center;

            a {
              width: 100%;
              color: white;
            }
          }
        }
      }
    }
  }
}
