@import "./style1.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: {
    size: 16px;
    family: $font-main;
  }
  // background-image: url(../이미지/메인페이지\ 배경.png);
}

// .container {
//   position: relative;
//   width: 100%; // 모바일, 태블릿
//   max-width: 1200px; // pc

// @include responsive(pc-screens) {
//  margin: 0 225px 0 125px;
// }

// @media screen {
// margin: 0 225px 0 125px;
// }

// background-color: antiquewhite;
// }

ul,
ol {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: $color-sub;
  &:hover {
    font-weight: 600;
  }
}

h1 {
  font-size: 3.125em;
}

h2 {
  font-size: 0;
}

h3 {
  color: $color-sub;
  font-size: 3.125em;
}

h4 {
  color: $color-sub;
  font-size: 1.5em;
  font-weight: 600;
}

p {
  // line-height: 20px;
  font-size: 1em;
  font-family: $font-sub;
}

/* input 기본 스타일 초기화 */ 
input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
/* IE10 이상에서 input box에 추가된 지우기 버튼 제거*/
input::-ms-clear { display: none; }

/* input type number에서 화살표 제거*/
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* select box 스타일 초기화 */
select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* IE에서 select box 화살표 제거*/
select::-ms-expand { displa: none; }