* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "SANGJU Gyeongcheon Island";
}

ul,
ol {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: black;
}
a:hover {
  font-weight: 600;
}

h1 {
  font-size: 3.125em;
}

h2 {
  font-size: 0;
}

h3 {
  color: black;
  font-size: 3.125em;
}

h4 {
  color: black;
  font-size: 1.5em;
  font-weight: 600;
}

p {
  font-size: 1em;
  font-family: "NotoSerifKR-Regular";
}

@media screen and (min-width: 1024px) {
  body {
    width: 100%;
    height: 100%;
    max-width: 2560px;
  }
}
.container {
  padding: 0 20px;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .container {
    padding: 0;
    margin: 0 auto;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(../../../../images/background/detail_page_main_background.png);
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
  }
}
.wrapper .flexWrapper header {
  height: 80px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header {
    height: auto;
    width: 370px;
    background-image: url(../../../../images/background/detail_page_header_background.png);
  }
}
.wrapper .flexWrapper header .header .logoMenu {
  display: none;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu {
    display: block;
    padding-top: 70px;
    padding-left: 100px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu .logo a {
    width: 190px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu .menu {
    margin-top: 130px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu .menu .gnb {
    font-size: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu .menu .gnb li {
    padding-bottom: 60px;
  }
  .wrapper .flexWrapper header .header .logoMenu .menu .gnb li:hover ul {
    height: 100px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu .menu .gnb li:first-child {
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu .menu .gnb li .subMenu {
    height: 0px;
    overflow: hidden;
    padding-top: 40px;
    transition: all 0.5s;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu .menu .gnb li .subMenu li {
    display: flex;
    padding-bottom: 0px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .logoMenu .menu .gnb li .subMenu li a {
    padding-left: 5px;
    padding-bottom: 10px;
    font-size: 18px;
    font-family: "NotoSerifKR-Regular";
  }
}
.wrapper .flexWrapper header .header .mobileLogoMenu {
  display: flex;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper header .header .mobileLogoMenu {
    display: none;
  }
}
.wrapper .flexWrapper header .header .mobileLogoMenu .mobileLogo {
  position: fixed;
  top: 22px;
  left: 20px;
}
.wrapper .flexWrapper header .header .mobileLogoMenu .mobileMenu {
  position: fixed;
  top: 38px;
  right: 20px;
  cursor: pointer;
}
.wrapper .flexWrapper header .header .mobileLogoMenu .mobileMenu span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #000;
}
.wrapper .flexWrapper header .header .mobileLogoMenu .mobileMenu span:nth-child(2) {
  margin: 5px 0;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main {
    width: 80%;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main {
    width: 1180px;
    margin: 0 auto;
  }
}
.wrapper .flexWrapper main .main .mainSubMenu {
  display: none;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .mainSubMenu {
    display: block;
    width: 100%;
    height: 70px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .mainSubMenu ul {
    display: flex;
    position: absolute;
    right: 100px;
    top: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .mainSubMenu ul li {
    padding-left: 25px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .mainSubMenu ul li a {
    font-family: "NotoSerifKR-Regular";
    font-size: 14px;
  }
}
.wrapper .flexWrapper main .main .sec1 {
  position: relative;
  margin-top: 30px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .sec1 {
    padding: 150px 120px;
  }
}
.wrapper .flexWrapper main .main .sec1 h1 {
  position: absolute;
  font-size: 40px;
  left: 190px;
  top: 10px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .sec1 h1 {
    top: 160px;
    left: 320px;
    font-size: 90px;
  }
}
.wrapper .flexWrapper main .main .sec1 h4 {
  font-size: 30px;
  color: #dbdbdb;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .sec1 h4 {
    text-align: left;
  }
}
.wrapper .flexWrapper main .main .sec1 span {
  display: block;
  height: 5px;
  width: 180px;
  margin: 10px 0;
  background-color: #dbdbdb;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .sec1 span {
    margin: 20px 0;
  }
}
.wrapper .flexWrapper main .main .sec1 .mobile-box {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .sec1 .mobile-box {
    display: none;
  }
}
.wrapper .flexWrapper main .main .sec1 .grid-box {
  display: none;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .sec1 .grid-box {
    display: grid;
    margin-top: 100px;
    gap: 20px;
    grid-template-areas: "div1 div2" "div1 div3";
  }
  .wrapper .flexWrapper main .main .sec1 .grid-box .div1 {
    grid-area: div1;
  }
  .wrapper .flexWrapper main .main .sec1 .grid-box .div2 {
    grid-area: div2;
  }
  .wrapper .flexWrapper main .main .sec1 .grid-box .div3 {
    grid-area: div3;
  }
}
.wrapper .flexWrapper main .main .sec1 .grid-box .item {
  margin: 10px 0;
}
.wrapper .flexWrapper main .main .sec1 .grid-box .item img {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .sec2 {
    position: relative;
    height: 2200px;
  }
}
.wrapper .flexWrapper main .main .sec2 .sec2-main {
  position: relative;
  margin: 70px 0;
  height: 300px;
}
.wrapper .flexWrapper main .main .sec2 .sec2-main .sec2-pic {
  position: absolute;
  top: 20px;
  left: 50px;
  width: 250px;
  height: 300px;
  z-index: 0;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .sec2 .sec2-main .sec2-pic {
    margin-top: 10px;
    width: 470px;
    height: 560px;
    position: absolute;
    left: 350px;
  }
}
.wrapper .flexWrapper main .main .sec2 .sec2-main h1 {
  position: absolute;
  font-size: 40px;
  z-index: 1;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .sec2 .sec2-main h1 {
    font-size: 50px;
    position: absolute;
    left: 250px;
  }
}
.wrapper .flexWrapper main .main .sec2 .sec2-main h4 {
  position: absolute;
  top: 55px;
  font-size: 34px;
  color: #dbdbdb;
  z-index: 2;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .sec2 .sec2-main h4 {
    top: 70px;
    font-size: 40px;
    position: absolute;
    left: 250px;
  }
}
.wrapper .flexWrapper main .main .sec2 .sec2-main h5 {
  position: absolute;
  top: 0;
  left: 260px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .sec2 .sec2-main h5 {
    left: 430px;
    font-size: 30px;
    position: absolute;
    left: 720px;
  }
}
.wrapper .flexWrapper main .main .sec2 .sec2-main .arrow-left {
  position: absolute;
  top: 150px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .sec2 .sec2-main .arrow-left {
    top: 300px;
    left: 70px;
  }
}
.wrapper .flexWrapper main .main .sec2 .sec2-main .arrow-right {
  position: absolute;
  top: 150px;
  left: 350px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .sec2 .sec2-main .arrow-right {
    top: 300px;
    left: 1090px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .sec2 .sec2-con-mo {
    display: none;
  }
}
.wrapper .flexWrapper main .main .sec2 .sec2-con-mo .acordian-menu li {
  font-family: "NotoSerifKR-Regular";
}
.wrapper .flexWrapper main .main .sec2 .sec2-con-mo .acordian-menu li a {
  display: block;
  font-size: 18px;
  justify-content: space-around;
  padding: 20px;
  border-top: 2px solid #dbdbdb;
}
.wrapper .flexWrapper main .main .sec2 .sec2-con-mo .acordian-menu li a img {
  position: absolute;
  right: 40px;
}
.wrapper .flexWrapper main .main .sec2 .sec2-con-mo .acordian-menu li p {
  border-top: 2px solid #dbdbdb;
  font-size: 14px;
  padding: 20px;
}
.wrapper .flexWrapper main .main .sec2 .sec2-con-mo .acordian-menu li .last-p {
  border-bottom: 2px solid #dbdbdb;
}
.wrapper .flexWrapper main .main .sec2 .sec2-con-pc {
  display: none;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .sec2 .sec2-con-pc {
    display: block;
    position: absolute;
    top: 780px;
    display: flex;
    width: 100%;
    flex-flow: wrap;
    padding: 0 30px;
    font-family: "NotoSerifKR-Regular";
  }
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .sec2 .sec2-con-pc div {
    width: 50%;
    padding: 25px;
    border-top: 2px solid #dbdbdb;
  }
}
.wrapper .flexWrapper main .main .sec2 .sec2-con-pc div img {
  float: left;
  margin-right: 15px;
}
.wrapper .flexWrapper main .main .sec2 .sec2-con-pc div h6 {
  font-size: 18px;
  padding: 25px 0;
}
.wrapper .flexWrapper main .main .sec2 .sec2-con-pc div p {
  font-size: 14px;
}
.wrapper .flexWrapper main .main .sec2 .map {
  padding: 100px 0;
  font-family: "NotoSerifKR-Regular";
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .sec2 .map {
    position: relative;
    top: 970px;
    text-align: center;
    padding: 80px 0;
    border-top: 2px solid #dbdbdb;
  }
}
.wrapper .flexWrapper main .main .sec2 .map h3 {
  font-size: 34px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .sec2 .map h3 {
    font-size: 36px;
  }
}
.wrapper .flexWrapper main .main .sec2 .map p {
  font-size: 24px;
  padding: 40px 10px;
  color: #929292;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .sec2 .map p {
    font-size: 30px;
    padding: 30px 0 80px 0;
  }
}
.wrapper .flexWrapper main .main .sec2 .map .map-box {
  width: 360px;
  height: 160px;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper main .main .sec2 .map .map-box {
    width: 1110px;
    height: 500px;
  }
}
.wrapper .flexWrapper .footer-geonggi {
  display: none;
}
@media screen and (min-width: 1024px) {
  .wrapper .flexWrapper .footer-geonggi {
    display: block;
    width: 100%;
  }
  .wrapper .flexWrapper .footer-geonggi img {
    vertical-align: top;
  }
}

@media screen and (min-width: 1024px) {
  footer .container {
    margin: 0;
  }
}
footer .footer {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
}
@media screen and (min-width: 1024px) {
  footer .footer {
    width: 100%;
    padding: 120px 185px 80px 545px;
  }
}
footer .footer .footInfo {
  padding-top: 60px;
  padding-bottom: 30px;
}
@media screen and (min-width: 1024px) {
  footer .footer .footInfo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 30px;
  }
}
footer .footer .footInfo address {
  font-style: normal;
  font-family: "NotoSerifKR-Regular";
}
footer .footer .footInfo p {
  margin: 20px 0;
}
@media screen and (min-width: 1024px) {
  footer .footer .footInfo p {
    margin: 0;
  }
}
footer .footer .footBox {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  footer .footer .footBox {
    display: flex;
    height: 250px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
}
footer .footer .footBox .footLogoCopy {
  padding: 30px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  footer .footer .footBox .footLogoCopy {
    width: 30%;
    padding: 0;
    border: 0;
  }
}
footer .footer .footBox .footLogoCopy a {
  color: white;
  font-size: 60px;
}
footer .footer .footBox .footLogoCopy p {
  font-size: 10px;
}
@media screen and (min-width: 1024px) {
  footer .footer .footBox .footLogoCopy .copyright {
    font-size: 12px;
    font-family: "NotoSerifKR-Regular";
  }
}
footer .footer .footBox .footSns {
  padding: 30px;
  border-bottom: 1px solid #ccc;
}
@media screen and (min-width: 1024px) {
  footer .footer .footBox .footSns {
    position: relative;
    width: 40%;
    height: 250px;
    border-bottom: 0;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
  }
}
footer .footer .footBox .footSns .footSnsCont {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  footer .footer .footBox .footSns .footSnsCont {
    padding: 60px 80px;
  }
}
footer .footer .footBox .footSns .footSnsCont li {
  padding: 10px;
}
@media screen and (min-width: 1024px) {
  footer .footer .footBox .footSns .footSnsCont li {
    padding-right: 15px;
  }
  footer .footer .footBox .footSns .footSnsCont li:last-child {
    padding-right: 0;
  }
}
footer .footer .footBox .footSns .footSnsCont li img {
  width: 50px;
}
@media screen and (min-width: 1024px) {
  footer .footer .footBox .footSns .footSnsCont li img {
    width: 60px;
    opacity: 0.5;
    transition: all 0.5s;
  }
  footer .footer .footBox .footSns .footSnsCont li img:hover {
    opacity: 1;
  }
}
footer .footer .footBox .footMenu {
  padding: 40px 0;
  font-size: 14px;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  footer .footer .footBox .footMenu {
    width: 30%;
    padding: 0;
    font-size: 14px;
  }
}
footer .footer .footBox .footMenu ul {
  display: flex;
  width: 100%;
  padding: 10px;
}
footer .footer .footBox .footMenu ul:last-child {
  text-align: left;
}
footer .footer .footBox .footMenu ul li {
  width: 33%;
  padding: 0 5px;
  text-align: center;
}
footer .footer .footBox .footMenu ul li a {
  width: 100%;
  color: white;
}/*# sourceMappingURL=jeolla.css.map */